<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="https://www.dropbox.com/s/bxshzyefgf2e7lr/Capture%20d%27%C3%A9cran%202016-10-18%2017.20.05.png?raw=1">
      </div>
       <div class="col-xs-12 col-sm-12 col-md-6" id="right">
         <h1><span>Hello! my name is Dounia</span></h1>
         <p>I am a web developer from Morocco. I enjoy working on creative projects that help people live better. I play around with HTML5, CSS3, javascript and Rails.</p>
      </div>
    </div>
  </div>
</div>