<div class="contact">
  <div class="container">
    <div class="row">
      <div class="pull-right">
        <p>Contact me</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="https://fr.linkedin.com/in/dounia-bounahmidi-9ab1386a"><img src="https://www.dropbox.com/s/r4nsaa86ee4xvti/linkedin-logo%20%281%29.png?raw=1"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="https://www.instagram.com/dounia02/"><img src="https://www.dropbox.com/s/xg68punamgr8wse/instagram-social-network-logo-of-photo-camera.png?raw=1"></a>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
       <a href="https://github.com/dounia-bounahmidi"><img src="https://www.dropbox.com/s/jhp4s4jbxx6bfwq/github-logo.png?raw=1"></a> 
      </div>
       <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="https://www.facebook.com/dounia.bounahmidi"><img src="https://www.dropbox.com/s/bviv3h0ebw7pwok/facebook-logo.png?raw=1"></a> 
      </div>
    </div>
  </div>
</div>