<div class="banner">
	<ul>
    <li><img src="https://www.dropbox.com/s/flag4kvft6z5x46/Capture%20d%27%C3%A9cran%202016-10-17%2017.19.07.png?raw=1"></li>
    <li><img src="https://www.dropbox.com/s/cbn1f6ju35620ng/Capture%20d%27%C3%A9cran%202016-10-17%2017.32.34.png?raw=1"></li>
    <li><img src="https://www.dropbox.com/s/r5p254hsv06wbbj/Capture%20d%27%C3%A9cran%202016-10-17%2017.29.17.png?raw=1"></li>
	</ul>
</div>

<div class="supporting">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="block">
      <img src="https://www.dropbox.com/s/fzv5ecdf4hiq9sq/Capture%20d%27%C3%A9cran%202016-10-17%2017.31.11.png?raw=1">
          <h6>We are Broadway</h6>
          <p>Creative studio based in New York City and specialized in everything digital.</p>
        </div>
        <div class="block">
      <img src="https://www.dropbox.com/s/r5p254hsv06wbbj/Capture%20d%27%C3%A9cran%202016-10-17%2017.29.17.png?raw=1">
       <h6>The Good List</h6>
       <p>Keep up with the latest movies in theatres and learn more about your favorite movies and actors.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="block">
      <img src="https://www.dropbox.com/s/5j0odr8kwdmbf9e/Capture%20d%27%C3%A9cran%202016-10-17%2017.23.11.png?raw=1">
      <h6>Innovation Cloud</h6>
      <p>Connect your ideas globally.</p>
      </div>
      <div class="block">
   <img src="https://www.dropbox.com/s/flag4kvft6z5x46/Capture%20d%27%C3%A9cran%202016-10-17%2017.19.07.png?raw=1">
    <h6>Bass Music</h6>
    <p>Music streaming application, with the latest albums and the all times classics.</p>
    </div>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="block">
      <img src="https://www.dropbox.com/s/cbn1f6ju35620ng/Capture%20d%27%C3%A9cran%202016-10-17%2017.32.34.png?raw=1">
     <h6>Bolt Network</h6>
     <p>Streaming plateform accessible on all types of devices.</p>
        </div>
        
      </div>
    </div>
  </div>
</div>


