<div class="main">
  <div class="container">
    <div class="row">
      <div class="pull-right">
        <p><span>Web developer who brings creative ideas to life.</span></p> 
    <button> <%= link_to 'View my Work', 'portfolio' %></button>
      </div>
    </div>
  </div>
</div>


  